
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;


}

.background {
    /* background-image: url(../images/background.jpg); */
    margin: auto;
}

 /* loader css */
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_bg {
    position: fixed;
    z-index: 999;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
}

/* nva css */
.navcontainer {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    text-align: center;
    margin: 1px auto;
    margin-top: -5px;
    height: 73px;
    border-radius: 11px;
    margin: 15px 20px 0px 20px;

}

.btns {

    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.ul_item {

    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 2px;
    margin: 0;
    margin-bottom: 5px;
    height: 100%;

}
.active .nav-itm{
    display: inline;
    font-weight: bold;

}

.active img{
    display: none;
}
.nav-icon {
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 10px;
    border: #404040 solid;
    border-width: 2px;
    font-family: Georgia, serif;
}

.nav-icon:hover {
    background-color: rgba(128, 128, 128, 0.55);
}

.nav-itm{
    display: none;
    
}
.nav-icon{
    display: inline-block;
    margin: 10px;
    
}
.nav-icon:hover .nav-itm{
    display: inline;
    color: #ffffcc;
    animation: fade-in 1.5s;
}
.nav-icon:hover img{
    display: none;
}
.navcontainer img{
    filter: invert(100%);
}
a{
    text-decoration: none;
    color: #ffffcc;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* con css */
.con{
    display: flex;
}

.cf_con,.av_con{
    width: 50%;
    margin-left: 15px;
    border-radius: 10px;
    overflow: hidden;
    /* padding: 10px; */
    background-color: #000000;
    margin: 20px;
    height: fit-content;
}


/* av css */

input {width: 70px;}

.list-itm0{
    background-color: white;
    /* border-radius: 5px; */
    padding: 10px;
    margin-bottom: 5px;
}
.list-itm1{
    background-color: rgb(216 216 216);
    /* border-radius: 5px; */
    padding: 10px;
    margin-bottom: 5px;
}

.psg_pri-fb{
    
    display: flex;
    justify-content: space-between;
   
}

/* .Price{
  margin-left: 90px;   
} */
.p-form-con{
    margin-top: -20px;
}
.tripd{
    margin-top: -10px;
}

.req-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 7px;
    height: 40px;
    font-size: 16px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}
.req-btn:hover{
    border: 2px solid gray;
    color: #ffffcc;
    background-color: rgba(128, 128, 128, 0.55);
    border-radius: 0px;
    cursor: pointer;
}

/* cf css */

.cf_head,.av_head{
    background-color: black;
    /* color: white; */
    color: #ffffcc;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}

.cf-list-itm0{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: white;
}
.cf-list-itm1{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgb(216 216 216);
}

.call{
    width: 100%;
    padding: 0px 50px;
    border: #000000 solid;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(93, 172, 93);
    margin-bottom: 10px;
}
.cf-con .psg_pri-fb{
    /* margin-top: -20px;
    margin-bottom: -20px; */
}

.inlinecon{
    margin-top:-20px;
}

.call-add{
    display: flex;
    align-items: center;
    margin: -10px 0px;
}

.call-sec{
    text-align: center;
    line-height: 38px;
    margin-right: 20px;
}

.call-add-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 7px;
    height: 40px;
    font-size: 16px;
    width: 100%;
}
.call-add-btn:hover{
    border: 2px solid gray;
    color: #ffffcc;
    background-color: rgba(128, 128, 128, 0.55);
    border-radius: 0px;
    cursor: pointer;
}